.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #235;
  text-align: center;
}

button {
    padding: 15px 20px;
    background: lightskyblue;
    border-radius: 3px;
    font-size: 30px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s;
     }

  button:hover {
    background: rgb(144,255, 245);
  }

  button:active {
    transform: scale(.96);
    background: lightskyblue;
    outline: none;
  }

  button:focus {
    outline: none;
  }

  p {
    font-size: 32px;
  }
  button {
      padding: 15px 20px;
      background: darkblue;
      border-radius: 3px;
      font-size: 18px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: .2s;
       }

    button:hover {
      background: rgb(144,25, 08);
    }

    button:active {
      transform: scale(.96);
      background: lightskyblue;
      outline: none;
    }

    button:focus {
      outline: none;
    }

    p {
      font-size: 20px;
    }
